<html>
<head>
	<title> {{gallery.name}} </title>
</head>

<body>
	<h1> {{gallery.name}} </h1>
	<p> {{gallery.description}} </p>

	{% block thumbnails %}
	<ul>
	{% for photo in gallery.photo_set.all %}

	{% if photo = gallery.best_photo %}
	<li><a href="/photo/{{photo.id}}"><img src="{{photo.filename.url}}" height="350" caption="Best!" /></a></li>
	{% else %}
	<li><a href="/photo/{{photo.id}}"><img src="{{photo.filename.url}}" height="350" /></a></li>
	{% endif %}

	{% endfor %}
	</ul>
	<p>The best photo is the biggest one. MOAR PIXELS IS MOAR BETTER!</p>

	{% endblock thumbnails %}

</body>
</html>