<!DOCTYPE html>
<html>
    <head>
        <title>page title</title>
        <link rel="stylesheet" href="/static/styles/base-style.css" />
    </head>
    <body class="full-content">
        <div id="container">
            <section id="page-header">
                <img src="/static/images/shamrock.png" alt="FreshPhotos Logo" height="50" />
                <ul>
                    <li><a href="path/to/home-page/">Home</a></li>
                    <li><a href="path/to/galleries/">Galleries</a></li>
                </ul>
            </section>
            <section id="page-content">
                <div id="carousel">
                    <a href="#todo" class="next"> Next </a>
                    {% block thumbnails %}
                    <ul>
                    {% for photo in gallery.photo_set.all %}

                    {% if photo = gallery.best_photo %}
                    <li><a href="/photo/{{photo.id}}"><img src="{{photo.filename.url}}" height="350" caption="Best!" /></a></li>
                    {% else %}
                    <li><a href="/photo/{{photo.id}}"><img src="{{photo.filename.url}}" height="350" /></a></li>
                    {% endif %}

                    {% endfor %}
                    </ul>
                    <p>The best photo is the biggest one. MOAR PIXELS IS MOAR BETTER!</p>

                    {% endblock thumbnails %}
                </div>
            </section>
        </div>

        <div id="upload-form">
        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
        <ul>{{ form.as_p }}
        <li><input type="submit" value="upload" /></li></ul></form>
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}scripts/carousel.js"></script>
    </body>
</html>