<html>
<head>
	<title> {{photo.name}} Detail </title></head>
</head>

<body>
	<h1>{{photo.name}}</h1>
	<p>{{photo.description}}</p>
	<p><img src="{{photo.filename.url}}" height="500"/><br />
	Photo uploaded {{photo.created|timesince}} ago.
	

	<br />Currently visible to 
	{% if photo.visible_by == 'AD' %}
		<strong>Admin users only</strong>
	{% endif %}	
	</p>

	<p>Galleries:
	<ul>
	{% for gallery in photo.galleries.all %}
		<li><a href="/gallery/{{gallery.name}}">{{gallery.name}}</a></li>
	{% endfor %}
	</ul>
	</p>
</body>
</html>